llvmlite
numba
nest_asyncio
requests
torchaudio
chatterbox-tts
flask
flask_cors
langchain_ollama
langchain_openai
langchain
langchain_classic
langchain_mcp_adapters
flask[async]
uv
pyOpenSSL
langchain_core