nest_asyncio
requests
flask
flask_cors
flask[async]
langchain_ollama
langchain_openai
langchain
langchain_classic
langchain_mcp_adapters
langchain_core
openai
uv
pyOpenSSL
pytest
pytest-asyncio
pytest-flask
ruff
pre-commit
